<!DOCTYPE html>
<html>
<head>
	<link rel="icon" type="image/png" href="image/icon.png" />
	<title>Search School</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- CSS files -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
	<!-- JS files -->
	<script src="bower_components/jquery/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=******My Key******&callback=showMap"></script>
	<script src="js/ctrl.js"></script>

</head>
<body ng-app="schoolApp" ng-controller="schoolCtrl" ng-init="groupToPages()">
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Search School</a>
		</div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Sort Table<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li ng-click="sortOrder = ''"><a>Default</a></li>
                    <li ng-click="sortOrder = 'FIELD5'"><a>By Name</a></li>
                    <li ng-click="sortOrder = 'FIELD11'"><a>By​ ​Pincode</a></li>
                    <li ng-click="sortOrder = 'FIELD8'"><a>By Medium Of Inst</a></li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-right">
            <div class="input-group">
                <input type="text" class="form-control" size="70" ng-model="searchValue"
                       placeholder="Search school on the basis of School Name, Address, Area, Pincode OR Landmark">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit" ng-click="searchTerm = searchValue">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
	</div>
</nav>
<section class="container-fluid schoolTable">
    <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
        <thead>
            <th>S. No.</th>
            <th>Block</th>
            <th>Cluster</th>
            <th>School Id</th>
            <th>School Name</th>
            <th>Category</th>
            <th>Gender</th>
            <th>Medium of Instructions</th>
            <th>Address</th>
            <th>Area</th>
            <th>Pincode</th>
            <th>Landmark</th>
            <th>Bus Routes</th>
        </thead>
        <tfoot>
            <ul class="pagination pagination pagination-sm pull-right">
                <li ng-class="{disabled: currentPage == 0}">
                    <a href ng-click="prevPage()">« Prev</a>
                </li>
                <li ng-repeat="n in range(pagedSchools.length, currentPage, currentPage + gap)"
                    ng-class="{active: n == currentPage}" ng-click="setPage()">
                    <a href ng-bind="n + 1">1</a>
                </li>
                <li ng-class="{disabled: (currentPage) == pagedSchools.length - 1}">
                    <a href ng-click="nextPage()">Next »</a>
                </li>
            </ul>
        </tfoot>
        <tbody ng-repeat="school in pagedSchools[currentPage] | orderBy:sortOrder | filter:searchTerm"
               ng-click="showMap(school.FIELD16)" title="Click to see location on Google Maps">
            <td>{{ $index + 1 }}</td>
            <td>{{school.FIELD2}}</td>
            <td>{{school.FIELD3}}</td>
            <td>{{school.FIELD4}}</td>
            <td>{{school.FIELD5}}</td>
            <td>{{school.FIELD6}}</td>
            <td>{{school.FIELD7}}</td>
            <td>{{school.FIELD8}}</td>
            <td>{{school.FIELD9}}</td>
            <td>{{school.FIELD10}}</td>
            <td>{{school.FIELD11}}</td>
            <td>{{school.FIELD12}}</td>
            <td>{{school.FIELD14}}</td>
        </tbody>
    </table>
</section>
<div id="map"></div>
</body>
</html>